* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background-color: white;
  background: linear-gradient(#123 30%, #667);
  background-image: url(../images/northpole.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: white;
  font-family: system-ui, -apple-system, system-ui, 'Segoe UI', Roboto, Ubuntu,
    'Helvetica Neue', sans-serif;
}

.wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.mail {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.mail h1 {
  text-shadow: 0 4px 8px darkslategray;
  font-size: 40px;
  margin-bottom: 15px;
}

.envelope {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../images/envelope.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 7px 7px 7px darkslategray;
  height: 327px;
  width: 600px;
  /* position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
}

.counter {
  margin-top: 75px;
  margin-right: 175px;
  text-shadow: 0 1px 2px darkslategray;
  color: #e70f0f;
  font-size: 40px;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 95%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.countdown-sign {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../images/sign.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  width: 450px;
  margin-top: -7%;
  margin-bottom: 60px;
  margin-left: 75%;
  padding-top: 190px;
  overflow: hidden;
  float: right;
  position: absolute;
}

.countdown-sign h2 {
  margin: 0;
  text-shadow: 0 2px 4px darkslategray;
}

h2 {
  font-size: 30px;
}

.btn {
  background-color: darkgray;
  opacity: 30%;
  color: white;
  border: none;
  padding: 5px;
  font-size: 30px;
  height: 65px;
  width: 65px;
  box-shadow: 0 2px 4px darkslategray;
  cursor: pointer;
  transition: all 0.2s ease;
  border-radius: 70%;
  margin: 20px;
  text-align: center;
}

.start-btn:active {
  background-color: darkgreen;
  box-shadow: 0 0 2px darkslategray;
  /* color: green; */
  transform: translateY(2px);
  opacity: 70%;
}
.reset-btn:active {
  background-color: darkgoldenrod;
  box-shadow: 0 0 2px;
  /* color: blue; */
  transform: translateY(2px);
  opacity: 70%;
}
.stop-btn:active {
  background-color: darkred;
  box-shadow: 0 0 2px darkslategray;
  /* color: red; */
  transform: translateY(2px);
  opacity: 70%;
}

.config-btn:active {
  background-color: navy;
  box-shadow: 0 0 2px darkslategray;
  /* color: goldenrod; */
  transform: translateY(2px);
  opacity: 70%;
}
